.iconBtnLinkedin {
    background-image: url('../assets/icon-linkedin.png');
    width: 35px;
    height: 35px;
    background-size: cover;
}
.iconBtnFacebook {
    background-image: url('../assets/icon-facebook.png');
    width: 35px;
    height: 35px;
    background-size: cover;
}
.iconBtnTwitter {
    background-image: url('../assets/icon-twitter.png');
    width: 35px;
    height: 35px;
    background-size: cover;
}
.iconBtnGoogle {
    background-image: url('../assets/icon-google.png');
    width: 35px;
    height: 35px;
    background-size: cover;
}
.iconBtnInstagram {
    background-image: url('../assets/icon-instagram.png');
    width: 35px;
    height: 35px;
    background-size: cover;
}
.iconBtnPin {
    background-image: url('../assets/icon-pin.png');
    width: 35px;
    height: 35px;
    background-size: cover;
}
